{% extends "base.html.twig" %}

{% block body %}



    <h1 style="text-align: center">Edition de {{ animal.nom }}</h1>
        <div class="alert">
            {% for type, messages in app.flashes %}
                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    <div class="container">
        <div class="row g-3">
            {{ form_start(form) }}
            <div class="form-floating mb-3">
                {# form_widget  #}
                {{ form_widget(form.nom, {attr: {class: "form-control", placeholder: "Nom"}})}}
                {{ form_label(form.nom)}}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.age, {attr: {class: "form-control", placeholder: "10"}})}}
                {{ form_label(form.age)}}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.type, {attr: {class: "form-control", placeholder: "Chien"}})}}
                {{ form_label(form.type)}}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.couleur, {attr: {class: "form-control", placeholder: "Brun"}})}}
                {{ form_label(form.couleur)}}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.description, {attr: {class: "form-control", placeholder: "Brun"}})}}
                {{ form_label(form.description)}}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(form.date_arrive, {attr: {class: "form-control", placeholder: ""}})}}
                {{ form_label(form.date_arrive)}}
            </div>
            <div>
                {{form_row(form.picture)}}
            </div>


            <div>
                {{form_row(form.Ajouter)}}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}