{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    {{ form_start(form) }}
        <div class="form-select">
             {{ form_label(form.Animal)}}
              {{ form_widget(form.Animal, {attr: {class: "form-control mb-3", placeholder: "Titre"}})}}
              {{ form_errors(form.Animal)}}
        </div>
        <div>
            {{form_row(form.Demander)}}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}