{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="alert">
        {% for type, messages in app.flashes %}
            <div class="alert-{{ type }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="div-center">
        <h1>Dossier n°{{ dossier.id }}  - Etat : {{ dossier.statut }}</h1>
        <div class="mb-3">
            {% if (dossier.statut == 0) %}
            <p>Statut : En cours</p>
            {% else %}
            <p>Statut : Validé</p>
            {% endif %}
        </div>
        <div class="mb-3">
            {% if (admin == 1) %}
            <p>Demandeur : {{ dossier.user.email }}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <p>Animal n°{{ animal.id }}</p>
            <p>Nom : {{ animal.nom }}</p>
            <p>Type : {{ animal.type }}</p>
            <p>Age : {{ animal.id }}</p>
            <p>Couleur : {{ animal.couleur }}</p>
            <p>Description : {{ animal.description }}</p>
            <p>Photo : </p>
            <img src={{ asset("img/uploads/" ~ animal.picture) }} alt="" width="300px">
        </div>
    </div>
    {% if document != null %}
    <div>
        <a href="{{ asset("pdf/uploads/" ~ document.cni) }}" target="_blank"><img src="{{ asset("img/pdfIcon.svg")}}" height="42" width="42"> Carte d'Identité</a>
        <a href="{{ asset("pdf/uploads/" ~ document.justifDom) }}" target="_blank"><img src="{{ asset("img/pdfIcon.svg")}}" height="42" width="42"> Justificatif de Domicile</a>

    </div>
    {% endif %}
    {% if admin == 1 %}

        <form method="post" action="{{ path("changeStatus", {id: dossier.id}) }}">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="status">
                <option value="En attente" {% if dossier.statut == "En attente" %} selected {% endif %}>En attente</option>
                <option value="En cours d'examen" {% if dossier.statut == "En cours d'examen" %} selected {% endif %}>En cours d'examen</option>
                <option value="Demande validée" {% if dossier.statut == "Demande validée" %} selected {% endif %} >Demande validée</option>
                <option value="Demande refusée" {% if dossier.statut == "Demande refusée" %} selected {% endif %}>Demande refusée</option>
            </select>

            <button type="submit" class="btn btn-success">Mettre à jour</button>
        </form>
    {% endif %}
    <div class="mb-3">
        <button>
            <a href={{ path('dossier_delete', {id: dossier.id} )}}>Supprimer</a>
        </button>
        <button>
            <a href="/dossiers">Retour à la liste des dossiers</a>
        </button>
    </div>
</div>
{% endblock %}