{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="alert">
        {% for type, messages in app.flashes %}
            <div class="alert-{{ type }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="div-center">
        <h1>Dossier n°{{ dossier.id }}</h1>
        <div>
            <p>Animal n°{{ animal.id }}</p>
            <p>Nom : {{ animal.nom }}</p>
            <p>Type : {{ animal.type }}</p>
            <p>Age : {{ animal.id }}</p>
            <p>Couleur : {{ animal.couleur }}</p>
            <p>Description : {{ animal.description }}</p>
            <p>Photo : </p>
        </div>
    </div>
</div>
{% endblock %}