{% extends "base.html.twig" %}


{% block body %}

    <div class="container">
        <div class="alert">
            {% for type, messages in app.flashes %}
                <div class="alert-{{ type }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


        <div class="div-center">
            <div class="security-forms">
                <h2>Modifier {{ form.vars.data.nom }}</h2>
                {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prix) }}
                    {{ form_row(form.description) }}
                    <br>
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}